# How to use:
# [include]
#	path         = C:/path/to/this/.gitconfig
[user]
	name         = Matt Busby
[core]
	autocrlf     = true
	longpaths    = true
	symlinks     = false
	fscache      = true
[help]
	format       = html
[color]
	diff         = auto
	status       = auto
	branch       = auto
	interactive  = true
[alias]
	# CONFIG
	alias        = "!f() { git config --get-regexp ^alias.\"$1\"; }; f"  # [aliasName]
	cfg          = config -l                                             # .
	cfgg         = config --global -l                                    # .
	cfgl         = config --local -l                                     # .
	ignore-list  = !git ls-files -v | grep -e '^ [a-z]                   # .
	ignore-local = update-index --assume-unchanged                       # {file}
	fetch-all    = !git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*" && git fetch origin  # . reconfigured config to fetch all remote refs
	fetch-one    = "!f() { git remote set-branches --add origin \"$1\" && git fetch origin && git switch \"$1\"; }; f"  # {branch} readd one branch after doing single-branch
	unignore-local = update-index ---no assume-unchanged                 # {file}
	
	# SIMPLE SHORTCUTS
	br           = branch                                                # [...]
	ci           = commit -v                                             # {files}
	cleanup      = clean -df                                             # . remove all unversioned files
	cm           = commit -m                                             # {commitMessage}
	co           = checkout                                              # {...}
	cp           = cherry-pick                                           # {...}
	d            = diff                                                  # [...]
	dc           = diff --cached                                         # [...]
	dh           = diff HEAD                                             # .
	diff-less    = !git diff | less                                      # .
	dl           = diff HEAD^ HEAD                                       # .
	dt           = difftool                                              # {...}
	lost         = fsck --lost-found                                     # .
	ma           = merge --abort                                         # .
	mc           = merge --continue                                      # .
	mt           = mergetool                                             # {...}
	peek         = "!f() { git show \"$1\":\"$2\"; }; f"                 # {branch} {file}
	plm          = pull                                                  # [...]
	plr          = pull --rebase                                         # .
	rb           = rebase                                                # {...}
	rba          = rebase --abort                                        # .
	rbc          = rebase --continue                                     # .
	rbc          = rebase --skip                                         # .
	squash       = rebase -i                                             # .
	st           = status -sb                                            # .
	sw           = switch                                                # {...}
	swc          = switch -c                                             # {newBranchName}
	
	# REFS/BRANCHES
	bra          = branch -avv                                           # .
	brl          = branch -lvv                                           # .
	branch-name  = branch --show-current                                 # .
	branch-name2 = rev-parse --abbrev-ref                                # {ref}
	brr          = branch -rvv                                           # .
	brv          = !git remote show $(git remote show)                   # . most verbose
	del          = branch --delete                                       # {branch}
	delf         = branch --delete --force                               # {branch}
	get          = !git fetch && git switch                              # {branch} get an existing branch 
	hash         = show-ref --head --heads --hash --verify HEAD          # .
	head         = "!f() { cat .git/HEAD 2> /dev/null || cat ../.git/HEAD 2> /dev/null ; git show-ref -d --head --abbrev HEAD ; git log HEAD -n 1 --oneline; }; f"  # .
	heads        = show-ref -d --head --heads                            # .
	info         = "!f() { echo ===== config =====; git config user.name; git config user.email; git branch --show-current; git remote -v; git show-ref -d --heads --head --abbrev HEAD; git config --get-all remote.origin.url; git config --get-all remote.origin.fetch; echo ===== branches =====; git branch -lvv; echo ===== show =====; git log -n 1 --oneline; echo ===== stat =====; git status -sb; echo ===== stash =====; git stash list; }; f"  # [...]
	prune        = fetch --all --prune                                   # . delete local branches after they've been remotely deleted
	refs         = show-ref -d --head                                    # . local refs
	refsr        = ls-remote                                             # . remote refs (e.g. if you've done a single-branch and need to see everything available)\
	tags         = show-ref -d --tags                                    # [...]
	
	# INDEX/ETC
	amend        = commit --amend                                        # {...}
	incoming     = !git fetch  && git diff HEAD FETCH_HEAD               # .
	incoming2    = "!f() { git fetch origin \"$1\" && git diff HEAD..origin/\"$1\"; }; f"  # {branch}
	into         = !git fetch && git merge                               # {branch}
	merge-dryrun = !git merge --no-commit --no-ff                        # {branch}
	merge-ours   = checkout --ours --                                    # {files}
	merge-theirs = checkout --theirs --                                  # {files}
	onto         = !git fetch && git rebase                              # {branch}
	readd        = add -u --                                             # {files}
	wipe         = restore --source=HEAD --staged --worktree --          # {files} reset --hard HEAD --
	save         = commit -am 'Save point'                               # .
	shallow      = clone --single-branch --depth 50 -b                   # {branch}
	uncommit     = reset --soft HEAD~1 --                                # {files}
	unstage      = restore --source=HEAD --staged --                     # {files} reset --mixed HEAD --
	
	# PUSHES
	dela         = "!f() { git branch -d \"$1\" && git push origin --delete \"$1\"; }; f"  # {branch} delete all
	delr         = push origin --delete                                  # {branch}
	done         = push origin HEAD                                      # .
	new          = "!f() { git switch -c \"$1\" && git push -u origin \"$1\"; }; f"  # {branch}
	tagged       = "!f() { git tag -a \"$1\" -m \"$2\" && git push origin \"$1\"; }; f"  # {tag} {message}
	
	# STASHES
	sh           = stash                                                 # [...]
	sha          = stash apply                                           # .
	shl          = stash list                                            # .
	shp          = stash pop                                             # .
	shs          = stash save                                            # .
	
	# HISTORY
	l            = log --oneline                                         # [...]
	la           = log              --pretty=format:'%C(yellow)%h%Creset %Cgreen(%cd) %C(bold blue)<%an>%C(red)%d%Creset %s' --date=short  # [...]
	last         = log -n 1                                              # .
	lf           = log --follow -p --                                    # {file} log of a file
	lg           = log --graph      --pretty=format:'%C(yellow)%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%C(red)%d%Creset'  # [...]
	ll           = log origin..HEAD --pretty=format:'%C(yellow)%h%Creset %Cgreen(%cr) %C(bold blue)<%an>%C(red)%d%Creset %s'  # [...]
	recent       = log -n 5 --stat                                       # .
	
	# FILES
	dump         = cat-file -p                                           # {blob}
	type         = cat-file -t                                           # {blob}
	
	# VISUAL
	vis          = !gitk &                                               # .
