# .inputrc
# BASH Input RunCom
# Copyright (c) 2009 Matt Busby @MrMattBusby
# MIT License (https://github.com/MrMattBusby/runcoms/blob/master/LICENSE)

#bind -m vi-inset "\C-n":menu-complete
#bind -m vi-inset "\C-p":dynamic-complete-history

"\C-i": menu-complete
"\C-n": menu-complete
"\C-p": dynamic-complete-history

set convert-meta on
set completion-ignore-case on
set editing-mode on
set bell-style none
set show-all-if-ambiguous on
set show-all-if-unmodified on
